<template name="filter">
  <div class="navbar-form">
    <a class="filter btn btn-default navabar-btn"
      role="button"
      tabindex="0"
      data-toggle="popover"
      data-placement="bottom"
      title="Filter">
      <i class="glyphicon glyphicon-filter"></i>
      Filter
    </a>
  </div>

  <div id="filter-content">
    <div class="filter-wrapper">

      <h4>
        <span class="text-muted">Max.</span> €{{filterPricem2}} <span class="text-muted">pro m<sup>2</sup></span>
      </h4>
      <div class="filter-form">
        <div class="filter-pricem2"></div>
      </div>
      <hr>

    </div>
  </div>
</template>

