<template name="filterPanel">
  <div class="filter-panel" id="filterPanel">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4 class="text-muted">
            Bezirk
            <span class="label label-success">STMK</span>
          </h4>

          <a class="label label-default" role="button" data-toggle="collapse" href="#plzCollapse" aria-expanded="false" aria-controls="plzCollapse">Auswählen</a>

          <div class="collapse" id="plzCollapse">
            <div class="plzwrapper">
              {{#each plz}}
                <span {{plzAttr this}}>{{this}}</span>
              {{/each}}
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <h4>
            <span class="text-muted">Miete</span>
            €{{filterPriceLower}}-€{{filterPriceUpper}}
          </h4>

          <div class="filter-form">
            <div class="filter-price"></div>
          </div>
        </div>

        <div class="col-md-3">
          <h4>
            <span class="text-muted">Max.</span> €{{filterPricem2}} <span class="text-muted">pro m²</span>
          </h4>
          <div class="filter-form">
            <div class="filter-pricem2"></div>
          </div>
        </div>

        <div class="col-md-3">
          <h4>
            <span class="text-muted">Größe</span>
            {{filterm2Lower}}-{{filterm2Upper}}m²
          </h4>

          <div class="filter-form">
            <div class="filter-m2"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
