<template name="navSecondary">

  {{#unless currentUser}}
    <li>
      <div class="md-margin">
        <button class="login-link btn btn-primary">Einloggen mit facebook</button>
      </div>
    </li>
    <li class="divider"></li>
  {{/unless}}

  <li>
    <a href="{{pathFor 'downvotedListings'}}">Nein-Liste</a>
  </li>

  <li>
    <a href="{{pathFor 'scraper'}}">
    Systeminfo
    {{> loggerBadge}}
    </a>
  </li>

  {{#if currentUser}}
    <li class="divider"></li>
    <li>
      <a href="#" class="logout-link">Ausloggen</a>
    </li>
  {{/if}}
</template>
