<template name="navPrimary">
  <li {{activeClass '/'}}>
    <a href="{{pathFor 'nextListings'}}">
      <i class="glyphicon glyphicon-certificate"></i> Ergebnisse
      {{#if showCount 'nextListingsCount' }}
        <span class="badge">{{ showCount 'nextListingsCount' }}</span>
      {{/if}}
    </a>
  </li>

  <li {{activeClass '/ja'}}>
    <a href="{{pathFor 'upvotedListings'}}">
      <i class="glyphicon glyphicon-heart"></i> Ja-Liste
      {{#if showCount 'upvotedListingsCount' }}
        <span class="badge">{{ showCount 'upvotedListingsCount' }}</span>
      {{/if}}
    </a>
  </li>

  <li {{activeClass '/freunde'}}>
    <a href="{{pathFor 'friends'}}">
      <i class="glyphicon glyphicon-user"></i>
      Freunde
      {{#if showCount 'friendsListingsCount' }}
        <span class="badge">{{ showCount 'friendsListingsCount' }}</span>
      {{/if}}
    </a>
  </li>
</template>
