body {
  border-top: 80px solid #efefef;
}

html, body {
  height: 100%;
}

.container-fluid .container {
  padding: 0;
}

.profile-picture {
  border-radius: 100%;
}

.listing {
  margin-bottom: 47px;
  margin-top: 47px;
}

.listing:first-child {
  margin-top: 0;
}

.tp {
  margin-top: 260px;
}

.sp {
  margin-right: 30px;
}

.sp:last-child {
  margin-right: 0;
}

.photos {
  max-height: 420px;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0;

  background-color: #efefef;
}

.photos img {
  margin-top: 10px;
  max-height: 400px;
}

.filter-wrapper {
}

.plzwrapper {
  width: 240px;
}

.filter-panel {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  padding-top: 50px;

  background-color: #f5f5f5;
  border-bottom: 1px solid #e3e3e3;
}

.filter-panel .container {
  padding: 10px 0 20px 0;
}

.filter-form {
  z-index: 5;
  width: 245px;
  margin: auto auto;
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 15px;
}

.md-margin {
  margin: 15px;
}

.noUi-handle {
  cursor: hand;
}

.noUi-connect {
  background-color: #6fc86b;
}

.label.toggle {
  cursor: pointer;
}

.agency .tooltip-inner {
  text-align: left;
  font-family: 'Courier', monospace;
}

.vote {
  font-size: 60px;
  padding: 50px;
  transition: all .3s ease;
}

.text-right .vote {
  padding-right: 0px;
}

.text-left .vote {
  padding-left: 20px;
}


a.upvote, a.upvote:link, a.upvote:visited {
  color: #e599a4;
}

a.upvote:hover {
  color: #f3455e;
}

a.upvote:active, a.upvote.voted {
  color: #cd081e;
}


a.downvote, a.downvote:link, a.downvote:visited {
  color: #CBCBCB;
}

a.downvote:hover {
  color: #9E9E9E;
}

a.downvote:active, a.downvote.voted {
  color: #242424;
}


.downvote {

}

.votable {

}

.voter {
  height: 50px;
  width: auto;
  margin-bottom: 40px;
}

.upvote {
  padding-right: 10px;
}

.downvote {
  padding-left: 10px;
}

.huge {
  font-size: 56px;
}

.huge .text-muted {
  font-size: 26px;
}

.button-label {
  margin-top: 15px;
  display: block;
}

.login-button {
  padding: 20px;
}

.safari-translucency-fix {
  position: fixed;
  top: -399px;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: #fff;
  z-index: 1020;
}
